
{% load static %}
<link rel="stylesheet" href="{% static 'styles/prod.css'%}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% include 'navbar.html'%}
{% static 'images' as baseUrl %}
<div class="wrapper">
    <div class="d-md-flex align-items-md-center">
        <div class="h3">Bikes</div><br>
        <div class="ml-auto d-flex align-items-center views"><span class="btn text-grey"> <span class="fas fa-th px-md-2 px-1"></span><span>Grid view</span> </span> <span class="btn"> <span class="fas fa-list-ul"></span><span class="px-md-2 px-1">List view</span> </span> <span class="green-label px-md-2 px-1">4</span> <span class="text-muted">Products</span> </div>
    </div>
    <div class="d-lg-flex align-items-lg-center pt-2">
        <div class="form-inline d-flex align-items-center my-2 mr-lg-2 radio bg-light border"><label class="options">Most Popular <input type="radio" name="radio" checked> <span class="checkmark"></span> </label> <label class="options">Cheapest <input type="radio" name="radio" > <span class="checkmark"></span> </label> 
        <label class="options">Most expensive<input type="radio" name="radio"> <span class="checkmark"></span> </label></div>
    </div>
    <div class="d-sm-flex align-items-sm-center pt-2 clear">
        <div class="text-muted filter-label">Applied Filters:</div>
        <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">Selected Filtre <span class=" px-1 close">&times;</span> </div>
    </div>
    <div class="filters"> <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span></button> </div>
    <div id="mobile-filter">
        <div class="py-3">
            <h5 class="font-weight-bold">Brands</h5>
            <form class="brand">
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Trek<input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Merida<input type="checkbox" > <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Giant<input type="checkbox" > <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Kross<input type="checkbox"> <span class="check"></span> </label> </div>
            </form>
        </div>
        <div class="py-3">
            <h5 class="font-weight-bold">Size</h5>
            <form class="size">
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">17<input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">18<input type="checkbox" > <span class="check"></span> </label> </div>
            </form>
        </div>
    </div>
    <div class="content py-md-0 py-3">
        <section id="sidebar">
            <div class="py-3">
                <h5 class="font-weight-bold">Brands</h5>
                <form class="brand">
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Trek<input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Merida<input type="checkbox" > <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Giant<input type="checkbox" > <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Kross<input type="checkbox"> <span class="check"></span> </label> </div>
				</form>
            </div>
            <div class="py-3">
                <h5 class="font-weight-bold">Size</h5>
                <form class="size">
                    <div class="form-inline d-flex align-items-center py-1"> <label class="tick">17<input type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-1"> <label class="tick">18<input type="checkbox" > <span class="check"></span> </label> </div>
                </form>
            </div>
        </section> <!-- Products Section -->
        <section id="products">
            <div class="container py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-md-0 pt-4">
						<div class="card">
							<img class="card-img-top" src="{% static 'images/trek1.jpg'%}" />
							<div class="card-body">
								<h6 class="font-weight-bold pt-1">Trek Marlin 2021</h6>
								<div class="text-muted description">Bikes</div>
								<div class="text-muted description">Brand: Trek</div>
								<div class="text-muted description">Size: 17</div>
								<div class="d-flex align-items-center justify-content-between pt-3">
									<div class="d-flex flex-column">
										<div class="h6 font-weight-bold">1900$</div>
									</div>
									<a href="#" class="btn btn-primary btn-sm mt-2">Buy now</a>
									<a href="#" class="btn btn-primary btn-sm mt-2">See</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-md-0 pt-4">
						<div class="card">
							<img class="card-img-top" src="{% static 'images/krosslea.jpg'%}" />
							<div class="card-body">
								<h6 class="font-weight-bold pt-1">Kross Lea 6.0</h6>
								<div class="text-muted description">Bikes</div>
								<div class="text-muted description">Brand: Kross</div>
								<div class="text-muted description">Size: 18</div>
								<div class="d-flex align-items-center justify-content-between pt-3">
									<div class="d-flex flex-column">
										<div class="h6 font-weight-bold">1999$</div>
									</div>
									<a href="#" class="btn btn-primary btn-sm mt-2">Buy now</a>
									<a href="#" class="btn btn-primary btn-sm mt-2">See</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-md-0 pt-4">
						<div class="card">
							<img class="card-img-top" src="{% static 'images/giant.jpg'%}" />
							<div class="card-body">
								<h6 class="font-weight-bold pt-1">Giant Fathom 2</h6>
								<div class="text-muted description">Bikes</div>
								<div class="text-muted description">Brand: Giant</div>
								<div class="text-muted description">Size: 18</div>
								<div class="d-flex align-items-center justify-content-between pt-3">
									<div class="d-flex flex-column">
										<div class="h6 font-weight-bold">3000$</div>
									</div>
									<a href="#" class="btn btn-primary btn-sm mt-2">Buy now</a>
									<a href="#" class="btn btn-primary btn-sm mt-2">See</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-md-0 pt-4">
						<div class="card">
							<img class="card-img-top" src="{% static 'images/merida.jpg'%}" />
							<div class="card-body">
								<h6 class="font-weight-bold pt-1">Merida Big Nine 501</h6>
								<div class="text-muted description">Bikes</div>
								<div class="text-muted description">Brand: Merida</div>
								<div class="text-muted description">Size: 18</div>
								<div class="d-flex align-items-center justify-content-between pt-3">
									<div class="d-flex flex-column">
										<div class="h6 font-weight-bold">1700$</div>
									</div>
									<a href="#" class="btn btn-primary btn-sm mt-2">Buy now</a>
									<a href="#" class="btn btn-primary btn-sm mt-2">See</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </section>
    </div>
</div>