<!DOCTYPE html>
{% extends 'main.html'%} 
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Register here</title>
		<meta name="description" content="" />
	</head>
	<body>
		{% block content %} {% for message in messages %}
		<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
			<strong>Message: </strong>{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		
		<div>
			<center>
				<br>
				<br>
				<h3>Login Page</h3>
			<form method="POST" action="">
				{% csrf_token %}
		
				<label>Username:</label>
				<input type="text" name="username" placeholder="Enter Username"/>
		
				<label>Password:</label>
				<input type="password" name="password" placeholder="Enter Password"/>
		
				<input type="submit" value="Login"/>
			</form>		
<br>
			Don't have account?
			<a href="{%url 'register'%}">
				<u>Register<u>
			</a> <br>
		
		
		<img src="https://cdn.pixabay.com/photo/2013/07/13/13/43/racing-bicycle-161449_960_720.png" style="height:400px;"></center>
	</div>
		{% endblock %}
	</body>
</html>
