
{% load static %}
<html>
  <head>  
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
{% block content %}
{% include "navbar.html"%}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <center><div class="breadcrumb-item active" aria-current="page"><h4>User Profile</h4></div></center>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://cdn.pixabay.com/photo/2014/09/19/21/47/chihuahua-453063_960_720.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.username}}</h5>
            <p class="text-muted mb-1">
            {% if user.is_superuser %}
            Admin
            {% else %}
            Customer
            {% endif %}</p>
            
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              {% if user.is_authenticated and user.is_superuser %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <a href="{% url 'add_product' %}" class="btn btn-primary btn-lg btn-block">Add new product</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <a href="{% url 'customers' %}" class="btn btn-primary btn-lg btn-block">All customers</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <a href="{% url 'orders' %}" class="btn btn-primary btn-lg btn-block">Orders</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <a href="{% url 'change_password' %}" class="btn btn-primary btn-lg btn-block">Change password</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">                
                <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-lg btn-block ">Edit profile</a>
              </li>
            {% else %}
              
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <a href="#" class="btn btn-primary btn-lg btn-block">Order history</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <a href="{% url 'change_password' %}" class="btn btn-primary btn-lg btn-block">Change password</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">                
                <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-lg btn-block ">Edit profile</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.first_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Surname</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date joined</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.date_joined}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Is staff</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.is_staff}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">We hope</span>you will find something for yourself! :)
                </p>
                <img
                    alt="example"
                    class="img-fluid rounded"
                    src="https://bikepacking.com/wp-content/uploads/2021/09/8bar-tlfsberg-bkepacking-bike_5-2000x1333.jpg"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Click on the photo</span>to check our store
                </p>
                
                <a class="ripple" href="{% url 'all_products' %}">
                  <img
                    alt="example"
                    class="img-fluid rounded"
                    src="https://cdn.pixabay.com/photo/2016/03/26/22/47/motion-blur-1281675_960_720.jpg"/></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css"
  rel="stylesheet"
/>
{% endblock content %}

</body>
</html>