<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
		{% comment %} <link rel="stylesheet" href="{% static 'styles/main.css'%}" />  {% endcomment %}
		<title>SupBike - buy your dream bike</title>
	</head>

	<body>
		{% include 'navbar.html' %}
		{% comment %} {% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}  {% endcomment %}
		{% block content %} 
		<header>
            <!-- Intro settings -->
            <style>
              /* Default height for small devices */
              #intro-example {
                height: 400px;
              }
          
              /* Height for devices larger than 992px */
              @media (min-width: 992px) {
                #intro-example {
                  height: 600px;
                }
              }
			  .background-image {
                min-height: calc(100vh - 56px);
                background-image: url("{%  static 'n.jpg' %}");

			  background-attachment: fixed;
			  background-repeat: no-repeat;
			  background-size: cover;
			  z-index: 100; }
            </style>
          
          
            <!-- Background image -->
            <div
              id="intro-example"
              class="p-5 text-center bg-image"
              style="background-image: url('https://asset.scott-sports.com/nin/nino-wc-special-ed-spark-1600x750-division-hero-2022-bike-SCOTT-Sports_1905315_jpg_original_1.jpg?signature=525d2f0fffda3983c6e475cf343162e590887c32be53bcb7720aa0e88f40d703'); height: 715px; background-position: center top; width: 100vw; background-attachment: fixed;
			  background-repeat: no-repeat;
			  background-size: cover;
			  z-index: 100;"
            >
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
                <div class="d-flex justify-content-center align-items-center h-100 ">
                  <div class="text-white">
                    <h1 class="mb-3">SupBike</h1>
                    <h5 class="mb-4">Professional bike shop</h5>
                    <a
                      class="btn btn-outline-light btn-lg m-2"
                      href="{% url 'bikes' %}"
                      role="button"
                      rel="nofollow"
                    >Bikes</a
                    >
                    <a
                      class="btn btn-outline-light btn-lg m-2"
                      href="{% url 'clothes' %}"
                      role="button"
                      rel="nofollow"
                    >Clothes</a
                    >
                  </div>
                </div>
				<br>
				<div class="container text-white">
					<form  action="{% url 'search' %}" method="get">						  
					  <input type="text" name="q" placeholder="Search">
					  <a href = "{% url 'search'%}">
					  <button class="btn btn-primary" type="submit">Search</button>
					  </a>
					</form>
			  

				  <br>
			  </div>
              </div>
            </div>

            <!-- Background image -->
			
          </header>	

		  <main class="container my-4" >
			  <!-- Featured Products -->
			  <h3 class="my-4 border-bottom pb-1">New!</h3>
			  <div class="row">
				

					
			  {% comment %} {% for product in data %}
				  <div class="col-md-3 mb-4">
					  <div class="card shadow">
						<a href="/product/{{product.slug}}/{{product.id}}"><img src="/images/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
						<div class="card-body">
						  <h5 class="card-text"><a href="#">{{product.name}}</a></h5>
					<h6>$ <span class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span></h6>
						</div>
						<div class="card-footer">
					{{product.productattribute_set.first.color.title}}
					<input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
					<input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
					<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
					<input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
							<button class="btn btn-sm btn-primary add-to-cart" data-index="#"><i class="fa fa-shopping-cart"></i></button>
					{% if user.is_authenticated %}
							<button class="btn btn-sm btn-danger add-wishlist" data-product="#"><i class="fa fa-heart"></i></button>
					{% else %}
					<button class="btn btn-sm btn-danger disabled"><i class="fa fa-heart"></i></button>
					{% endif %}
							<span class="float-right">
								4.5/5
								<i class="fa fa-star text-warning"></i>
							</span>
						</div>
					  </div>
				  </div>
			  {% endfor %} {% endcomment %}

			  <div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
				  <div class="card h-100">
					<img src="{% static 'images/trek1.jpg' %}" class="card-img-top" alt="Skyscrapers"/>
					<div class="card-body">
					  <h5 class="card-title">Trek Marlin 2021</h5>
					  <p class="card-text">
						The Trek Marlin 5 is an everyday bike that can handle both city commutes and forest paths. It is a very universal design for people who love to spend time actively outdoors.
					  </p>
					</div>
				  </div>
				</div>
				<div class="col">
				  <div class="card h-100"><br><br><br><br><br>
					<img src="{% static 'images/merida.jpg' %}" class="card-img-top" alt="Los Angeles Skyscrapers"/>
					<div class="card-body"><br><br>
					  <h5 class="card-title">Merida Big Nine 501</h5>
					  <p class="card-text">Merida Big Nine is the most technologically advanced aluminum frame in the Boost standard, which draws inspiration from higher carbon models. In this model we find a drive based on the Shimano SLX 1x12 group.</p>
					</div>
				  </div>
				</div>
				<div class="col">
				  <div class="card h-100"><br><br><br><br>
					<img src="{% static 'images/giant.jpg' %}" class="card-img-top" alt="Palm Springs Road"/>
					<div class="card-body">
					  <h5 class="card-title">Giant Fathom 2</h5>
					  <p class="card-text">
						As usual, the Giant does not disappoint and for the price of approx. PLN 5,000 it presents a mountain bike that is definitely above its price range, with competitive performance and modern solutions that will make your ride even faster, more reliable and full of fun!
					  </p>
					</div>				
				  </div>
				</div>
			  </div>

			  </div>
			  <p class="my-4 text-center"><a href="{%url 'all_products'%}" class="btn btn-primary">See all</a></p>
		  </main>
		  	  

		  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
	<!-- Section: Social media -->
	<section
	  class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
	>

  
	  <!-- Right -->
	  <div>
		
	  </div>
	  <!-- Right -->
	</section>
	<!-- Section: Social media -->
  
	<!-- Section: Links  -->
	<section class="">
	  <div class="container text-center text-md-start mt-5">
		<!-- Grid row -->
		<div class="row mt-3">
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			<!-- Content -->
			<h6 class="text-uppercase fw-bold mb-4">
			  <i class="fas fa-gem me-3"></i>SupBike
			</h6>
			<p>
				Company founded in 2020. We constantly strive to develop. We have the best products, and our passion for this industry is evidenced by 
				a huge number of satisfied customers.
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Categories
			</h6>
			<p>
			  <a href="{% url 'bikes' %}" class="text-reset">Bikes</a>
			</p>
			<p>
			  <a href="{% url 'clothes' %}" class="text-reset">Clothes</a>
			</p>
			<p>
			  <a href="{% url 'accesories' %}" class="text-reset">Accessories</a>
			</p>
			<p>
			  <a href="{% url 'components' %}" class="text-reset">Components</a>
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Informations
			</h6>
			{% if user.is_authenticated %}
			<p>
			  <a href="{% url 'profile' user %}" class="text-reset">My profile</a>
			</p>
			{% else %}
			<p>
				<a href="{% url 'home' %}" class="text-reset">My profile</a>
			  </p>
			{% endif %}
			<p>
			  <a href="{%url 'delivery'%}" class="text-reset">Delivery</a>
			</p>
			<p>
			  <a href="{%url 'all_products'%}" class="text-reset">Products</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Complaints</a>
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Contact
			</h6>
			<p><i class="fas fa-home me-3"></i> 41 E Court St, Cincinnati, OH 45202</p>
			<p>
			  <i class="fas fa-envelope me-3"></i>
			  supbike.shop@gmail.com
			</p>
			<p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
			<p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	</section>
	<!-- Section: Links  -->
  
	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
	  © 2022 Copyright:
	  <a class="text-reset" >Created by Agnieszka Homa</a>
	  <a href="https://github.com/AgnieszkaHoma/SupBikes_ecommerce" class="me-4 text-reset">
		<i class="fab fa-github"></i>
	  </a>
	</div>
	<!-- Copyright -->
  </footer>
  <!-- Footer -->
		{% endblock %}
	</body>
</html>
